@import './utils/Fonts';
@import './utils/Colors';
@import './utils/Mixins';
//Weights: 400, 500, 700
//x:237 y:72

@import './components/StepContentTitle';
@import './components/StepNav';
@import './components/StepContentBox';

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
  font-weight: normal;
  user-select: none;
}
main{
  width: 100%;
  height: 100vh;
  @include Center-Div();
  background-color:$Magnolia;
  .Card-Box{
    border-radius: 8px;
    background-color:$Alabaster;
    display: grid;
    grid-template-columns: 41% 1fr;
    padding: 15px 18px;
    width: 940px;
    min-height: 600px;
    box-shadow: 4px 3px   20px $Lightgray;
    .Step-Navigator{
      border-radius: 10px;
      width: 74%;
      background-image: url(../assets/images/bg-sidebar-desktop.svg);
      background-position: center;
      background-size: cover;
      padding-top: 40px;
      padding-left: 32px;
      display: flex;
      flex-direction: column;
      gap: 30px;
    }
    .Step-Content{
      width: 85%;
      padding-top: 40px;
      position: relative;
      .Card-Buttons{
        display: flex;
        justify-content: space-between;
        position: absolute;
        bottom: 2.8%;
        right: 0;
        left: 0;
        .Next-Button{
          background-color:$Marineblue;
          padding: 16px 25px;
          border: none;
          border-radius: 8px;
          font-size: medium;
          color: $White;
          cursor: pointer;
          transition: all 0.5s ease;
          &:hover{
            background-color:hsl(213, 79%, 34%);
            transition: all 0.5s ease;
          }
        }
        .Finish-Button{
          @extend .Next-Button;
          background-color:$Purplishblue;
          padding: 16px 33px;
          &:hover{
            background-color:hsl(243, 89%, 75%);
            transition: all 0.5s ease;
          }
        }
        .Back-Button{
          background-color: transparent;
          font-size: medium;
          color: $Coolgray;
          border: none;
          transition: color 0.5s ease;
          cursor: pointer;
          &:hover{
            color:$Marineblue ;
            transition: color 0.5s ease;
          }
        }
      }
    }
  }
}