# Avoid accidental upload of design files
#####################################################
## Please do not remove lines 5 and 6 - thanks! 🙂 ##
#####################################################
*.sketch
*.fig

# Avoid accidental XD upload if you convert the design file
###############################################
## Please do not remove line 12 - thanks! 🙂 ##
###############################################
*.xd

# Ignore macOS specific files
.DS_Store

# Ignore editor-specific directories and files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore Node.js dependencies
node_modules/

# Ignore environment variable files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Ignore build directories
build/

# Ignore temporary files
*.tmp
*.temp
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore coverage reports
coverage/

# Ignore package manager lock files if you are not using them
# Uncomment the lines below if you are using Yarn instead of npm
# yarn.lock
# Uncomment the line below if you are using npm instead of Yarn
# package-lock.json

# Ignore PnP files for Yarn
.pnp
.pnp.js

# Ignore any other directories or files you don't want to include
# Uncomment and add any additional patterns as needed
# .cache/
# .next/
# *.sass-cache
