.content {
  .Cards-Container {
    display: flex;
    gap: 18px;
    align-items: center;
    .Card {
      transition: all 0.5s ease;
      cursor: pointer;
      width: 137px;
      border-radius: 8px;
      border: 1px solid $Coolgray;
      padding: 20px 15px;
      position: relative;
      min-height: 160px;

      &:hover {
        border-color: $Purplishblue;
      }

      .desc {
        margin-top: 35%;

        h4 {
          margin-bottom: 6px;
          color: $Marineblue;
          font-weight: 700;
        }

        h5 {
          color: $Coolgray;
        }

        .Bonus {
          color: $Marineblue;
          margin-top: 9px;
        }
      }
    }

    .CardActive {
      border-color: $Purplishblue;
      // Optional: Add other styles if needed
    }
  }

  .Switcher {
    width: 100%;
    height: 80px;
    @include Center-Div();
    gap: 25px;

    .SwitchActive {
      color: $Marineblue;
    }

    h5 {
      color: $Coolgray;
      font-weight: 700;
    }

    .SwitchButton {
      cursor: pointer;
      width: 38px;
      border: 1px solid transparent;
      background-color: $Marineblue;
      border-radius: 1000px;
      height: 20px;
      padding: 3px;

      .Dot {
        background-color: $Magnolia;
        border: 1px solid transparent;
        border-radius: 50%;
        transition: all 0.5s ease;
        width: 12px;
        height: 12px;
      }

      .DotActive {
        transform: translateX(150%);
      }
    }
  }
}
